@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #F04FE7;
    --color2: #000000;
    --color3: #DDB216;
    --color4: #121F31;
    --color5: rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
}


.disScroll {
    scrollbar-width: none;

}

.disScroll::-webkit-scrollbar {
    display: none;

}

.bg-custom {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%)
}

.bg-error {
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

.imgAnimated {
    animation: animate 2s infinite ease alternate;
}

@keyframes animate {
    100% {
        transform: translateY(20px);
    }
}

.btn-gradient {
    background-image: linear-gradient(270.3deg, rgb(34, 24, 84) 0.2%, rgb(240, 79, 231) 100%);
}

.soundAnimation {
    background-color: #0fff00;
    z-index: -1;
    position: absolute;
    margin: auto;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    animation: soundAnimate 0.5s infinite ease;
}

@keyframes soundAnimate {
    0% {
        transform: scale(1.0);
        opacity: 0.6;
    }
    50% {
        background-color: #0fd200;
    }
    100% {
        background-color: #078d00;
        transform: scale(12.0);
        opacity: 0.2;
    }
}

.soundAnimationSingle {
    /*border: 2px solid rgba(13, 255, 0, 0.8);*/
    opacity: 100%;
}

.shake {
    animation: shake 1s infinite ease;
}

@keyframes shake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-3px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(3px, 0, 0);
    }
}

.reflection {
    position: relative;
    overflow: hidden;
}

.reflection::after {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    top: -180px;
    left: 0;
    background-color: #D3D3D3FF;
    opacity: 0;
    transform: rotate(45deg);
    animation: reflect 10s ease-in-out infinite;
    -webkit-animation: reflect 10s ease infinite;
}

@keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

@-webkit-keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

.bg-status {
    background-image: linear-gradient(270.3deg, rgba(24, 24, 24, 0) 0.2%, rgb(16, 16, 16) 50%);
}

